


<div class="row">
	<div class="span3 offset2">
		<form method="get" action="/">
			<button type="submit" class="btn btn-default" >Home</button>
		</form>
	</div>
</div>


<h3><%= @answer.question.question_detail %></h3>
<br>created by: <%= @answer.question.user.name %>
<br><%=@answer.question.created_at %>

	<h3><%= @answer.answer_detail %></h3>
	-- Comment --

	






