<form method="post" action="/properties/<%= @user.id%>">

	<h2>Please enter your property details</h2>

	<br><input class="form-control" type="text" placeholder="properties details" name="property[property_detail]"></br>
	<br><input class="form-control" type="text" placeholder="price" name="property[property_price]"></br>
	<input type=submit value="Submit">

</form>