<h3><%= @question.body %></h3>
<a href="/questions/<%= @question.id %>/edit">Edit</a>
<form action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>