*practice container
<div class="container">
</div>

* header
<h2></h2>
<h3></h3>

*grid
<div class="col-md-12"></div>

*form
<form method="post" action="/">
	<input type=submit value="Log Out">
</form>

*input, text

<input class="form-control" type="text" placeholder="Email" name="user[email]">
*name="user[email]" --> this is the params

*button
<button type=submit class="btn btn-success">Login</button>

*script

<%= @user %> ** the = sign is for display, like puts in ruby
<% %> other code no need the = sign
