
	<div class="container">
			<div class="row">
					<div class ="col-md-6">
						<img src="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png" alt="bitly clone logo">
					</div>
					<div class ="col-md-6 text-right text-uppercase">
						<h1>Gary Wong</h1>
						<h4>Samurai Coder</h4>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<hr>
					</div>
			</div>
			<div class="row">
				<div class="row">
						<div class ="col-md-12 text right text-uppercase">
								<form action="/urls" method="post">
									Enter URL:
									<input type="text" name="long_url">
									<input type="submit" value="submit">
								</form>
						</div>
				</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<img src="http://7-themes.com/data_images/out/35/6887285-images.jpg" alt="background image">
					</div>
			</div>
	</div>



	



	

