
## id
#landing_page_img{
      clear: both;
    }

## tag
tr {
    background-color: #FFF1ED

    }

    th{
      font-family: 'Open Sans'
    }

## class
    .body {
      background-color: #FFFFFF;
    }

  